body {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*:focus {
    outline: 0
}

.btn {
    color: #66fcf1;
    text-decoration: none;
    border: 2px solid #eee;
    font-family: 'IBM Plex Sans', sans-serif;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    display: inline-block;
    text-align: center;
    padding: .8rem 1.8rem;
    margin: .5rem
}

.btn:hover {
    background: #66fcf1;
    color: #000;
}

.btn.simple {
    padding: 4px 0;
    border: 0;
    border-bottom: 1px solid transparent
}

.btn.simple:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent
}

.btn.rounded {
    border-radius: 6px
}

.btn.super-rounded {
    border-radius: 45px
}

.btn.circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    line-height: 1;
    box-sizing: border-box;
    padding: 1.3em 0
}

.btn.circle.medium {
    width: 6rem;
    height: 6rem;
    padding: 1.8em 0
}

.btn.circle.medium {
    width: 6rem;
    height: 6rem;
    padding: 1.8em 0
}

.btn.circle.big {
    width: 7rem;
    height: 7rem;
    padding: 2.45em 0
}

.btn.circle:hover {
    transform: rotate(180deg)
}

.btn.medium {
    padding: 1.15rem 2.15rem
}

.btn.big {
    padding: 1.5rem 2.5rem
}

.btn.black,
.btn.dark-blue,
.btn.blue,
.btn.green {
    border: 0;
    color: #fff
}

.btn.green {
    background: #27ae60
}

.btn.green:hover {
    background: #2ecc71
}

.btn.blue {
    background: #2980b9
}

.btn.blue:hover {
    background: #3498db
}

.btn.dark-blue {
    background: #2c3e50
}

.btn.dark-blue:hover {
    background: #34495e
}

.btn.black {
    background: #000
}

.btn.black:hover {
    background: #222
}